/node_modules
.DS_Store
/public/hot
/public/storage
/public_html/Users/
/public_html/com/
/public_html/quotar/
/public_html/quotarlist/
/public_html/sign/
/public_html/tell_car_insurance/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
